src/main/mule/batchprocess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="89443e1f-42fa-462b-adf4-209c9990e7c1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batchprocessFlow" doc:id="8025cbcb-0aad-4365-9973-7feb86120542" >
		<http:listener doc:name="Listener" doc:id="864f2d10-8d6e-497a-9024-196b881fbb6e" config-ref="HTTP_Listener_config" path="/batch"/>
		<set-payload value='#[[1, 2, 3, "a", 5]]' doc:name="Set Payload" doc:id="f33397d1-d75d-407d-9e77-175e66544e54" />
		<batch:job jobName="batchprocessBatch_Job" doc:id="07bdb696-46f3-4e25-b504-2d67abb1eb6c" blockSize="10" maxFailedRecords="10">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a78f4e97-bd62-4a7c-83ed-21f0b1967c80" acceptExpression="#[payload is Number]">
					<set-payload value="#[payload + 5]" doc:name="Set Payload" doc:id="83f71fbc-3eee-4675-942c-653f8a527d07" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="933f54fc-bcd8-4884-95ac-08d2fe456fe2" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="3482ba05-7ff7-4b3b-aa0f-d01a9ccd7c41" message='"inside batch aggregator"'/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="79b20a4d-6259-4703-aa08-749b8ecd5fac" acceptExpression="payload" acceptPolicy="ONLY_FAILURES">
					<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c8ec5ff8-1ab4-40c3-9229-5724229e5439" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="2aa18f06-816e-4666-9700-975c12e82df1" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="860da315-47b8-45d3-81f5-dd0b196c8fb2" message='#["inside step2"]'/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="6e12251e-67e7-4b51-b12e-012536fda00a" message='#["on complete message"]'/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
